{% extends 'basic.html' %}
{% block title%} About Us{% endblock %}

{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}
<div class="container" style="padding-top: 3%; padding-left: 3%; padding-right: 3%;">
	<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
		<div class="about-section">
			<div class="inner-width">
				<h1 class="display-4 font-italic">ABOUT US</h1>
				<div class="border"></div>
				<div class="about-section-row">
					<div class="about-section-col">
						<div class="about">
							<p class="lead my-3">In this website you will get all the information about Music
								Production through these website you can learn Music Production in very fun
								and exciting way also you can make projects section to improve your skills.</p>

							<p class="lead my-3">We have various things to help you like Blog in these section you can
								know how can you make your career in Music field.Ask a question will help you
								to solve your queries.You can also make projects which will help you to enhance
								your skils.Discuss section is the community of all artists here you can engage with
								others artists.</p>

							<p class="lead my-3">SO, what are you waiting for go on and start learning different things
								you can also visit our YouTube channel for more information.</p>

							<p class="lead my-3"></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}